body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lucida Handwriting', Arial;
    background-color: #d1f0ee;
    display: grid;
    place-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh;
}

h1 {
    font-size: 36pt;
    margin: 0;
}

.placar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    font-size: 22pt;
    color: #0da192;
    text-align: center;
}

.ativo {
    text-decoration: underline;
    text-decoration-color: #fc01f4;
    text-decoration-thickness: 3px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
    background-color: #18e0cc;
    box-shadow: 0 0 10px #119e90;
    padding: 4px;
}

.celula {
    background-color: #18e0cc;
    border: 4px solid #0da192;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50pt;
    cursor: pointer;
    user-select: none;
}

.celula.x {
    color: #fc77af;
}

.celula.o {
    color: #f8f800;
}

button {
    margin-top: 20px;
    font-size: 20pt;
    padding: 10px 20px;
    background-color: #0da192;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #085f56;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}